// Define global parameters
params {

    // Define run-specific parameters
    runId = null
    outId = null

    if ( !params.outId ) {params.outId = params.runId }

    // Define input files and directories
    inputDir = "${projectDir}/data"
    
    // Define reference files and directories
    refDir = "${projectDir}/reference"
    transcriptomeFilePath = "${refDir}/transcriptome.fa"

}

// Enable docker
docker.enabled = true
process.container = "docker pull combinelab/salmon:1.9.0"